{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
		  <link rel="stylesheet" type='text/css' href="{% static 'css/list.css' %}">
	</head>
	<body>
		{% block content %}
		<div class="my_paragraph">

		<p>Howdy! Welcome to my first full stack website, I hope you enjoy. Here are some things that are to come:
		<li>	Email yourself a link to a new password </li>
		<li>	Clean up on the loan list end </li>
		<li>	Clean up on the charts end </li>
		<li>	Upgraded logic on multiple loans </li>
		<li>	Try to make it where no  login is needed to run this algorithm </li>
		<li>	I would like to extended this to create a budget</li>
		<li>	I would like to extend this to keep track of your networth as well </li>
		<li>	DONE: left side of the nav bar needs to go away if not logged in </li>
		<li>	DONE: when logged in, redirect to loan list screen </li>
		<li>  make the create a profile screen </li>
		<li>  prompt user to extra money at end of month and what not </li>
		</p>
		</div>
	</body>
	{% endblock %}
</html>
