{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type='text/css' href="{% static 'css/list.css' %}">
  </head>
  <body>

    {% block content %}

    {% for instance in object_list %}
<div class="card text-center">
  <div class="card-header">
    <a href='{{ instance.get_absolute_url }}'>{{ instance.loan_name }} </a>
  </div>
  <div class="card-body">
    <p class="panel-body" id='loan-data'>Principal: ${{ instance.principal }}</p>
    <p class="panel-body" id='loan-data'>Annual Interest Rate: {{ instance.interest_rate }}%</p>
    <p class="panel-body" id='loan-data'>Minimum Payment: ${{ instance.minimum_payment }}</p>
  </div>
</div>

    {% endfor %}
<div> <a class="btn btn-primary" href="{% url 'loans:add-loan' %}" role="button">Add a Loan</a></div>


    {% endblock %}

  </body>
</html>
