{% extends 'base.html' %}
{% load static %}

    <link rel="stylesheet" type='text/css' href="{% static 'css/list.css' %}">
  <body>

    {% block content %}
<a href="{% url 'loans:csv-file' %}">sadfasd</a>
    {% for instance in object_list %}
<div class="card text-center mx-auto mt-2" id='test'>
  <div class="card-header">
    <a href='{{ instance.get_absolute_url }}'>{{ instance.loan_name }} </a>
  </div>
  <div class="card-body">
    <p class="panel-body" id='loan-data'>Principal: ${{ instance.principal }}</p>
    <p class="panel-body" id='loan-data'>Annual Interest Rate: {{ instance.interest_rate }}%</p>
    <p class="panel-body" id='loan-data'>Minimum Payment: ${{ instance.minimum_payment }}</p>
  </div>
</div>

    {% endfor %}
<div class='btntest'> <a class="btn btn-dark" href="{% url 'loans:add-loan' %}" role="button">Add a Loan</a></div>
    {% endblock %}

  </body>
