{% extends 'base.html' %}
{% block content %}

 <html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChartInterest);
      google.charts.setOnLoadCallback(drawChartOOP);
      google.charts.setOnLoadCallback(drawChartPeriods);

      function drawChartInterest() {

        var data = google.visualization.arrayToDataTable([
          ['Loan Data Comparison', 'No Extra','Dave Ramsey','Debt Avalanche','Fastest Payoff','Lowest Interest','Least Out of Pocket'],
          {{interest|safe}},
        ]);

        var options = {
          chart: {
            title: 'Interest per Payoff Strategy',
            subtitle: '',
          }
        };

        var chart = new google.charts.Bar(document.getElementById('Interest'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      };


    function drawChartOOP() {

      var data = google.visualization.arrayToDataTable([
        ['Loan Data Comparison', 'No Extra','Dave Ramsey','Debt Avalanche','Fastest Payoff','Lowest Interest','Least Out of Pocket'],
        {{oop|safe}},
      ]);

      var options = {
        chart: {
          title: 'Out of Pocket per Payoff Strategy',
          subtitle: '2017',
        }
      };

      var chart = new google.charts.Bar(document.getElementById('test'));

      chart.draw(data, google.charts.Bar.convertOptions(options));
    }

    function drawChartPeriods() {

      var data = google.visualization.arrayToDataTable([
        ['Loan Data Comparison', 'No Extra','Dave Ramsey','Debt Avalanche','Fastest Payoff','Lowest Interest','Least Out of Pocket'],
        {{period|safe}},
      ]);

      var options = {
        chart: {
          title: 'Period Comparison per Payoff Strategy',
          subtitle: '2017',
        }
      };

      var chart = new google.charts.Bar(document.getElementById('Period'));

      chart.draw(data, google.charts.Bar.convertOptions(options));
    }

    </script>
  </head>
  <body>
    <div class="row">
      <div class="col-sm-6">
        <div id="Interest" style="height:500px;"></div>
      </div>
      <div class="col-sm-6">
        <div id="test" style="height:500px;"></div>
      </div>
      <!-- <div class="col-sm-4">
        <div id="Period" style="height:500px;"></div>
      </div> -->
    </div>
  </body>
</html>

{% endblock %}
