/* .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-success {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
} */

div {
    /* position: absolute; */
text-align: center;}
